.wrapper {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;

  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);

  & form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & input {
    width: 400px;
  }
}