@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("./fonts/gilroy.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
  url("./fonts/GilroyBold.ttf") format("truetype");
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  font-family: 'Gilroy', sans-serif;
  color: #fff;
}